%nav{class: 'container'}
  %div{class: 'navbar navbar-default'}
    %div{class: 'navbar-header'}
      %span{class: 'glyphicon glyphicon-phone navbar-brand', 'aria-hidden': true}
      %span{class: 'glyphicon glyphicon-sort-by-attributes-alt navbar-brand', 'aria-hidden': true}
    %ul{class: 'nav nav-pills pull-right'}
      -I18n.available_locales.each do |locale|
        -if locale == I18n.locale
          %li{role: 'presentation', class: "active"}
            =link_to t("page.in_#{locale}"), language_link(locale)
        -else
          %li{role: 'presentation'}
            =link_to t("page.in_#{locale}"), language_link(locale)

%div{class: 'container'}
  %div{class: 'row'}
    %noscript{class: 'col-xs-12 col-sm-12 col-md-12 alert alert-danger'}
      =t(:noscript_msg)
  %div{class: 'row'}
    %div{id: 'notice', class: 'col-xs-12 col-sm-12 col-md-12 alert alert-info alert-dismissible'}
  -unless flash[:notice].nil?
    %div{class: 'row'}
      %div{class: 'col-xs-12 col-sm-12 col-md-12 alert alert-info alert-dismissible'}
        %p
          =flash[:notice]
  -unless flash[:error].nil?
    %div{class: 'row'}
      %div{class: 'col-xs-12 col-sm-12 col-md-12 alert alert-warning alert-dismissible'}
        %p
          =flash[:error]
  -if @phones.empty?
    %div{class: 'panel panel-default'}
      %div{class: 'panel-heading'}
        %h4{class: 'panel-title'}
          %strong
            =t('how_to_panel.header')
      %div{class: 'panel-body'}
        %div{class: 'row'}
          %div{class: 'col-xs-12 col-sm-4 col-md-4'}
            %div{class: 'thumbnail'}
              =image_tag "step1.png"
              %div{class: 'caption'}
                %h4{class: 'text-center'}
                  =t('how_to_panel.step1')
          %div{class: 'col-xs-12 col-sm-4 col-md-4'}
            %div{class: 'thumbnail'}
              =image_tag "step2.png"
              %div{class: 'caption'}
                %h4{class: 'text-center'}
                  =t('how_to_panel.step2')
          %div{class: 'col-xs-12 col-sm-4 col-md-4'}
            %div{class: 'thumbnail'}
              =image_tag "step3.png"
              %div{class: 'caption'}
                %h4{class: 'text-center'}
                  =t('how_to_panel.step3')

  %div{class: 'row'}
    =form_tag phones_compare_path, method: :get do
      %div{class: 'form-group col-xs-12 col-sm-12 col-md-12'}
        %div{class: 'form-group col-xs-12 col-sm-12 col-md-12'}
          =text_area_tag 'phone_names', @query, class: 'form-control', autofocus: true , placeholder: t('form.placeholder')
        %div{class: 'form-group'}
          %div{class: 'col-xs-12 col-sm-12 col-md-12'}
            =button_tag t('form.clear'), id: 'clear_btn', class: 'btn btn-default', type: 'submit', name: 'commit', value: 'clear'
            =button_tag t('form.search_and_sort'), id: 'search_btn', class: 'btn btn-primary', type: 'submit', name: 'commit', value: 'search'
-if !@phones.empty?
  %div{class: 'container'}
    %div{class: 'row'}
      %div{class: 'col-xs-6 col-sm-6 col-md-6'}
        %h4
          =t(:phones_header)
      %div{class: 'col-xs-2 col-sm-2 col-md-2 col-xs-offset-4 col-sm-offset-4 col-md-offset-4'}
        %button{id: 'share_results', class: 'btn btn-info pull-right', 'data-loading-text': t(:generating_link)}
          =t(:share_results)
    %div{class: 'row'}
      %div{class: 'col-xs-12 col-sm-12 col-md-12'}
        %table{class: 'table table-condensed table-responsive table-hover'}
          %thead
            %tr
              %th
                \#
              %th{class: 'col-xs-8 col-sm-8 col-md-8'}
                =t(:phone_model)
              %th{class: 'col-xs-2 col-sm-2 col-md-2'}
                =t(:possible_price)
              %th{class: 'col-xs-2 col-sm-2 col-md-2'}
                =t(:total_points)
          %tbody
            -@phones.each  do |phone|
              - index = @phones.index(phone) + 1
              - name = phone[:name]
              - url = phone[:url] || '#'
              - vs_url = phone[:vs_url] || '#'
              - price = phone[:price]
              - points = phone[:points]
              %tr{class: 'phone',
                  'data-name': name, 'data-query': name,
                  'data-url': url, 'data-vs_url': vs_url,
                  'data-price': price, 'data-points': points}
                %td{class: 'place'}
                  = index
                %td{class: 'name'}
                  = name
                %td{class: 'price'}
                  = show_price(price)
                %td{class: 'points'}
                  = show_points(points)

%div{class: 'translations'}
  - if t('js_translations').is_a?(Hash)
    -t('js_translations').each do |k, v|
      %div{'data-key': k, 'data-value': v}
