!!!
%html
  %head
    %title
      =@title
    = javascript_include_tag 'https://cdn.jsdelivr.net/loadcss/0.1.7/loadCSS.min.js'
    :javascript
      loadCSS("#{stylesheet_path('application')}");
    = javascript_include_tag "application", async: true
    = csrf_meta_tags
    %meta{:content => "c6RYH9hm0G85TJD1lHHtzPGXfRlQpdvqd8oqFgThTdg", :name => "google-site-verification"}
    %meta{:content => @description, :name => "description"}
    %meta{:content => "width=device-width, user-scalable=no", :name => "viewport"}
    %meta{:content => @title, :name => 'og:title'}
    %meta{:content => @description, :name => 'og:description'}
    %meta{:content => asset_path("share_picture.png"), :name => 'og:image'}
  %body
    = yield
